*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-image: url(images/cardTable.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.deck .card {
    border: solid 1px #aaa;
    border-radius: 9px;
    width: 120px;
    height: 160px;
    float:left;
    background-color: white;
    padding: 3px 3px 3px 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.deck{
    max-width: 96vw;
}
  .back {
    background-image: url(images/card-back-red.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.red{
    color: red;
}
.black{
    color: black;
}


.card .value{
    font-size:15pt;
    font-family: sans-serif;
}

.card .suit {
	
	height: 100px;
	width: 90px;
}

.card .diamonds {
    
	background-position-y: 100px;
}

.card .hearts {
	background-position-x: 90px;
}

.card .clubs {
	background-position-x:90px;
	background-position-y:100px;
}

.cardBack {
    background-image: url(images/card-back-red.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    
    align-items: center;
}

.description{
    max-width: 400px;
}

.repsValue {
    font-size: 1.7rem;
}
.exercise {
    font-size: 1.2rem;
}
#startBtn{
    height: 30px;
    width: 90px;
}